body {
    color: #fff;
    background-image: url('/static/background.jpg');
    background-size: cover;
}



.navbar-brand {
    color: #1DB954; 
    font-weight: bold;
}


.navbar-nav .nav-item {
    margin-right: 10px;
}

.navbar-nav .nav-link {
    color: #fff; 
}

.navbar-nav .nav-link:hover {
    color: #1DB954; 
}

.user-profile-image-nav {
    width: 30px; 
    height: 30px;
    border-radius: 50%; 
}

.card .user-profile-image {
    width: 150px; 
    height: 150px;
    border-radius: 50%;
    }

.card {
    background-color: #121212; 
    color: #fff; 
}

hr {
    background-color: #e9f1ec; 
}

.playlist-card {
    display: flex;
    align-items: center;
    background-color: #121212;
    color: #fff;
    margin: 0 auto; /* Center the card horizontally */
    height: 70px; /* Adjust the height as needed */
}

.playlist-artwork {
    width: 70px; /* Adjust this width as needed */
    height: 70px; /* Adjust this height as needed */
    margin-right: 10px;
    position: relative;
}

.playlist-artwork img.playlist-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
}



.card-body {
    padding: 10px;
}

.card-body .card-title {
    font-size: 1.2rem;
}

.playlist-card.bg-dark:hover {
    background-color: #252727 !important;
}


.playlist-hero {
        position: relative;
        overflow: hidden;
        height: 300px; /* Adjust the height as needed */
    }

.playlist-hero img {
        width: 100%;
        height: auto;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }


.header-gradient {
    background: rgb(255,169,36);
    background: linear-gradient(180deg, rgba(255,169,36,1) 3%, rgba(13,13,13,1) 58%) !important;
    padding: 20px; /* Adjust padding as needed */
    border-radius: 10px; /* Add border-radius for rounded corners */
    }

.user-profile-image {
    width: 150px; 
    height: 150px;
    }

.album-cover {
        width: 64px;
        height: 64px;
        object-fit: cover;
    }

.song-image-small {
        max-width: 64px; 
    }