{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Explore</h1>
    <hr>

    <h2>Top Genres</h2>
    <div class="row">
        {% for genre in selected_genres %}
        <div class="col-md-3 mb-3">
            <div class="card bg-dark text-white">
                <div class="card-body">
                    <a href="#" class="text-decoration-none text-white">
                        <h5 class="card-title">{{ genre }}</h5>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
    <h2>Top Artists</h2>
    <div class="row">
        {% for artist in top_artists %}
        <div class="col-md-3 mb-3">
            <div class="card">
                <img src="{{ artist['images'][0]['url'] }}" class="card-img-top" alt="{{ artist['name'] }}">
                <div class="card-body">
                    <h5 class="card-title">{{ artist['name'] }}</h5>
                    <p class="card-text">Popularity: {{ artist['popularity'] }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <h2>Top Tracks</h2>
    <div class="row">
        {% for track in top_tracks %}
        <div class="col-md-3 mb-3">
            <div class="card">
                <img src="{{ track['album']['images'][0]['url'] }}" class="card-img-top" alt="{{ track['name'] }}">
                <div class="card-body">
                    <h5 class="card-title">{{ track['name'] }}</h5>
                    <p class="card-text">Artist: {{ track['artists'][0]['name'] }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
