{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <!-- Search for Songs -->
        <div class="col-md-4">
            <a href="/search" class="card-link">
                <div class="card hover-card mb-3">
                    <div class="card-body-home">
                        <h5 class="card-title">Search for Songs</h5>
                        <p class="card-text">Find your favorite songs and artists quickly and easily.</p>
                    </div>
                </div>
            </a>
        </div>

        <!-- Explore Genres -->
        <div class="col-md-4">
            <a href="/genres" class="card-link">
                <div class="card hover-card mb-3">
                    <div class="card-body-home">
                        <h5 class="card-title">Explore Genres</h5>
                        <p class="card-text">Discover new music genres and explore something new.</p>
                    </div>
                </div>
            </a>
        </div>

        <!-- Create Playlist -->
        <div class="col-md-4">
            <a href="{{ url_for('create_playlist', user_id=g.user.id) }}" class="card-link">
                <div class="card hover-card mb-3">
                    <div class="card-body-home">
                        <h5 class="card-title">Create Playlist</h5>
                        <p class="card-text">Build your custom playlist with your favorite songs.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}
