{% extends "base.html" %}

{% block content %}
<a href="#" onclick="window.history.back();" class="btn btn-secondary btn-sm">
  <i class="bi bi-arrow-left"></i>Back
</a>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form method="GET" action="{{ url_for('show_search_results_globally')}}" class="mt-4">
        <div class="input-group">
          <input type="text" class="form-control" id="song_name" name="song_name" placeholder="Search for songs...">
          <div class="input-group-append">
            <button type="submit" class="btn btn-success">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}